<div class="sidebar">
    <div class = "side-nav-content w-100" >
        <ul class = "nav-list w-100" >
            
            <li class = "nav-list-item ">
                <span class = "routeName">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "['/admin-view/home']">Home</a>
                </span>

            </li>
            <li class = "nav-list-item ">
                <span class = "routeName">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "[ '/admin-view/task-type'] ">Blocked Websites</a>
                </span>

            </li><li class = "nav-list-item manage">
                <span class = "routeName ">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "[ '/admin-view/task-type/manage'] "> View Details</a>
                </span>

            </li>
            
            
            <li class = "nav-list-item ">
                <span class = "routeName">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "['/admin-view/employees'] ">Employees</a>
                </span>

            </li>

            <li class = "nav-list-item ">
                <span class = "routeName">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "[ '/admin-view/task-list']  ">Tasks</a>
                </span>

            </li>
        
            <li class = "nav-list-item manage">
                <span class = "routeName ">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "[ '/admin-view/task-list/manage'] ">Manage</a>
                </span>

            </li>
            
            
        
            
            <li class = "nav-list-item ">
                <span class = "routeName">
                    <a routerLinkActive="active sub-active-item" [routerLink] = "[ '/admin-view/admins'] ">Admins</a>
                </span>

            </li>
            
            
        </ul>
    </div>
</div>

    